In [6]:
import json 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from json_handler.json_handler import load_json_data

podzial danych na testowe i treningowe

In [7]:
records = load_json_data('prepared_data/merged_records.json')
purchase_confirms = load_json_data('prepared_data/purchase_confirms.json')

dt_records = pd.DataFrame(records)
dt_confirms = pd.DataFrame(purchase_confirms)

x_train, x_test, y_train, y_test = train_test_split(dt_records,dt_confirms, test_size = 0.3)

x_train.head()

,price,products_views_number,category_views_number,bought_with_discount_number,bought_products_in_category_number,discount,elapsed_time,oh_category0,oh_category1,oh_category2,...,oh_category5,oh_category6,oh_category7,oh_category8,oh_category9,oh_category10,oh_category11,oh_category12,oh_category13,oh_category14
11391,2317.02,45,83,2,8,10,189.0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
18279,44.99,31,246,0,4,5,167.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
18596,86.28,8,34,0,0,15,276.0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
51361,76.90,29,278,0,15,0,14.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
42168,5259.00,14,129,0,0,0,228.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

skalowanie danych

In [8]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

dt_train = pd.DataFrame(x_train)
dt_train.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,0.963838,1.651797,-0.848140,0.246025,0.818633,0.641885,0.496778,-0.387030,-0.372947,-0.35903,...,5.871991,-0.119317,-0.172277,-0.177677,-0.373285,-0.121102,-0.236913,-0.205738,-0.164242,-0.122512
1,-0.500585,0.516598,0.496469,-0.401091,0.012122,-0.047091,0.300115,-0.387030,-0.372947,-0.35903,...,-0.170300,-0.119317,-0.172277,-0.177677,2.678916,-0.121102,-0.236913,-0.205738,-0.164242,-0.122512
2,-0.473972,-1.348372,-1.252348,-0.401091,-0.794389,1.330860,1.274489,-0.387030,-0.372947,-0.35903,...,-0.170300,-0.119317,-0.172277,-0.177677,-0.373285,-0.121102,4.220950,-0.205738,-0.164242,-0.122512
3,-0.480018,0.354427,0.760442,-0.401091,2.230028,-0.736067,-1.067584,2.583779,-0.372947,-0.35903,...,-0.170300,-0.119317,-0.172277,-0.177677,-0.373285,-0.121102,-0.236913,-0.205738,-0.164242,-0.122512
4,2.860073,-0.861858,-0.468680,-0.401091,-0.794389,-0.736067,0.845407,-0.387030,-0.372947,-0.35903,...,-0.170300,-0.119317,-0.172277,-0.177677,-0.373285,-0.121102,-0.236913,-0.205738,-0.164242,-0.122512