In [10]:
import json
import pickle
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from json_handler.json_handler import load_json_data

podzial danych na testowe i treningowe

In [11]:
records = load_json_data('prepared_data/merged_records.json')
purchase_confirms = load_json_data('prepared_data/purchase_confirms.json')

dt_records = pd.DataFrame(records)
dt_confirms = pd.DataFrame(purchase_confirms)

x_train, x_test, y_train, y_test = train_test_split(dt_records,dt_confirms, test_size = 0.2)

x_train.head()

,price,products_views_number,category_views_number,bought_with_discount_number,bought_products_in_category_number,discount,elapsed_time,oh_category0,oh_category1,oh_category2,...,oh_category5,oh_category6,oh_category7,oh_category8,oh_category9,oh_category10,oh_category11,oh_category12,oh_category13,oh_category14
16009,32.99,3,46,10,1,20,199.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
50634,2399.00,2,21,0,0,0,230.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20127,2199.90,1,2,0,0,0,0.0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
10765,1998.14,3,29,0,0,20,236.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40697,44.99,6,50,0,1,0,548.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

skalowanie danych

In [12]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

dt_train = pd.DataFrame(x_train)

dt_test = pd.DataFrame(x_test)


dt_train.describe()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
count,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,...,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04
mean,-4.017929e-17,1.103526e-16,-7.400767e-17,-4.147540e-18,7.603823e-18,-5.659664e-17,4.907922e-17,-7.327321e-17,6.186747e-17,2.557650e-17,...,-2.873036e-17,3.110655e-18,3.862397e-17,2.765027e-18,9.872009e-18,7.068099e-17,-6.197548e-17,7.515256e-17,2.229303e-17,-2.808230e-18
std,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,...,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00
min,-5.185840e-01,-1.030005e+00,-1.033996e+00,-4.017645e-01,-5.065724e-01,-7.365263e-01,-1.188850e+00,-3.854294e-01,-3.711889e-01,-3.589097e-01,...,-1.709159e-01,-1.169748e-01,-1.712171e-01,-1.789640e-01,-3.769342e-01,-1.242398e-01,-2.382780e-01,-2.065274e-01,-1.666479e-01,-1.226150e-01
25%,-4.871596e-01,-5.820687e-01,-7.782914e-01,-4.017645e-01,-5.065724e-01,-7.365263e-01,-9.740404e-01,-3.854294e-01,-3.711889e-01,-3.589097e-01,...,-1.709159e-01,-1.169748e-01,-1.712171e-01,-1.789640e-01,-3.769342e-01,-1.242398e-01,-2.382780e-01,-2.065274e-01,-1.666479e-01,-1.226150e-01
50%,-4.511933e-01,-1.341325e-01,-3.180228e-01,-4.017645e-01,-5.065724e-01,-7.365263e-01,-7.899901e-02,-3.854294e-01,-3.711889e-01,-3.589097e-01,...,-1.709159e-01,-1.169748e-01,-1.712171e-01,-1.789640e-01,-3.769342e-01,-1.242398e-01,-2.382780e-01,-2.065274e-01,-1.666479e-01,-1.226150e-01
75%,-1.142725e-01,7.617400e-01,5.002327e-01,-4.017645e-01,9.231525e-01,6.427015e-01,7.891912e-01,-3.854294e-01,-3.711889e-01,-3.589097e-01,...,-1.709159e-01,-1.169748e-01,-1.712171e-01,-1.789640e-01,-3.769342e-01,-1.242398e-01,-2.382780e-01,-2.065274e-01,-1.666479e-01,-1.226150e-01
max,4.421200e+00,6.584911e+00,5.614329e+00,8.949740e+00,8.071777e+00,2.021929e+00,6.222093e+00,2.594509e+00,2.694046e+00,2.786216e+00,...,5.850831e+00,8.548853e+00,5.840537e+00,5.587716e+00,2.652983e+00,8.048950e+00,4.196778e+00,4.841974e+00,6.000675e+00,8.155609e+00

In [13]:
 
y_test.describe()

                  0
count  10280.000000
mean       0.029572
std        0.169412
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [14]:
from sklearn.dummy import DummyClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier



dummy = DummyClassifier().fit(x_train, y_train)
regression = LogisticRegression().fit(x_train, np.ravel(y_train))

In [15]:
dummy.score(x_test,y_test)

0.9704280155642023

In [16]:
regression.score(x_test,y_test)

0.9705252918287938

In [17]:
y_train

       0
16009  0
50634  0
20127  0
10765  0
40697  0
...   ..
25437  0
18030  0
46153  0
32365  0
35265  0

[41116 rows x 1 columns]

In [20]:
with open('models/dummy.pckl', 'wb') as file:
    pickle.dump(dummy, file)

with open('models/regression.pckl', 'wb') as file:
    pickle.dump(regression, file)