In [2]:
import json 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from json_handler.json_handler import load_json_data

podzial danych na testowe i treningowe

In [25]:
records = load_json_data('prepared_data/merged_records.json')
purchase_confirms = load_json_data('prepared_data/purchase_confirms.json')

dt_records = pd.DataFrame(records)
dt_confirms = pd.DataFrame(purchase_confirms)

x_train, x_test, y_train, y_test = train_test_split(dt_records,dt_confirms, test_size = 0.2)

x_train.head()

,price,products_views_number,category_views_number,bought_with_discount_number,bought_products_in_category_number,discount,elapsed_time,oh_category0,oh_category1,oh_category2,...,oh_category5,oh_category6,oh_category7,oh_category8,oh_category9,oh_category10,oh_category11,oh_category12,oh_category13,oh_category14
49652,129.00,2,24,0,1,0,71.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
19955,99.99,4,35,0,1,0,219.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
18346,69.00,2,25,0,0,5,56.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9377,44.99,5,43,3,0,10,222.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
23846,5126.00,0,5,0,0,0,27.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

skalowanie danych

In [26]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

dt_train = pd.DataFrame(x_train)

dt_test = pd.DataFrame(x_test)


dt_train.describe()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
count,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,...,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04
mean,-1.805908e-17,-1.284009e-16,-1.404115e-17,4.065453e-17,8.692553e-17,6.018253e-17,5.331317e-17,7.871685e-17,-1.814549e-18,-1.071448e-17,...,-3.456283e-17,2.082411e-17,2.976724e-17,7.076740e-17,-4.285791e-17,4.838797e-17,-8.813523e-18,-4.380839e-17,2.367554e-17,-1.090889e-18
std,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,...,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00
min,-5.171832e-01,-1.027753e+00,-1.033305e+00,-4.021613e-01,-5.067999e-01,-7.364885e-01,-1.189317e+00,-3.878398e-01,-3.704251e-01,-3.590392e-01,...,-1.689463e-01,-1.180384e-01,-1.715179e-01,-1.791087e-01,-3.765554e-01,-1.240378e-01,-2.403796e-01,-2.053081e-01,-1.643990e-01,-1.206588e-01
25%,-4.856778e-01,-1.027753e+00,-7.769758e-01,-4.021613e-01,-5.067999e-01,-7.364885e-01,-9.656244e-01,-3.878398e-01,-3.704251e-01,-3.590392e-01,...,-1.689463e-01,-1.180384e-01,-1.715179e-01,-1.791087e-01,-3.765554e-01,-1.240378e-01,-2.403796e-01,-2.053081e-01,-1.643990e-01,-1.206588e-01
50%,-4.496188e-01,-1.295545e-01,-3.155827e-01,-4.021613e-01,-5.067999e-01,-7.364885e-01,-7.980082e-02,-3.878398e-01,-3.704251e-01,-3.590392e-01,...,-1.689463e-01,-1.180384e-01,-1.715179e-01,-1.791087e-01,-3.765554e-01,-1.240378e-01,-2.403796e-01,-2.053081e-01,-1.643990e-01,-1.206588e-01
75%,-1.118293e-01,7.686437e-01,5.046715e-01,-4.021613e-01,9.308698e-01,6.410060e-01,7.791796e-01,-3.878398e-01,-3.704251e-01,-3.590392e-01,...,-1.689463e-01,-1.180384e-01,-1.715179e-01,-1.791087e-01,-3.765554e-01,-1.240378e-01,-2.403796e-01,-2.053081e-01,-1.643990e-01,-1.206588e-01
max,4.435337e+00,6.606932e+00,5.631261e+00,8.946170e+00,8.119218e+00,2.018501e+00,6.308866e+00,2.578384e+00,2.699601e+00,2.785211e+00,...,5.919042e+00,8.471817e+00,5.830295e+00,5.583202e+00,2.655652e+00,8.062059e+00,4.160087e+00,4.870728e+00,6.082763e+00,8.287831e+00

In [37]:
 
y_test.describe()

                  0
count  10280.000000
mean       0.028891
std        0.167508
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [33]:
from sklearn.dummy import DummyClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier



dummy = DummyClassifier().fit(x_train, y_train)
regression = LogisticRegression().fit(x_train, np.ravel(y_train))

In [34]:
dummy.score(x_test,y_test)

0.9711089494163424

In [35]:
regression.score(x_test,y_test)

0.9717898832684825

In [36]:
y_train

       0
49652  0
19955  0
18346  0
9377   1
23846  0
...   ..
28671  0
881    0
34900  0
19468  0
10619  0

[41116 rows x 1 columns]