In [ ]:
import json 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from json_handler.json_handler import load_json_data

podzial danych na testowe i treningowe

In [10]:
records = load_json_data('prepared_data/merged_records.json')
purchase_confirms = load_json_data('prepared_data/purchase_confirms.json')

df_records = pd.DataFrame(records)
df_confirms = pd.DataFrame(purchase_confirms)

x_train, x_test, y_train, y_test = train_test_split(df_records,df_confirms, test_size = 0.2)

x_train.head()

,price,products_views_number,category_views_number,bought_with_discount_number,bought_products_in_category_number,discount,elapsed_time,oh_category0,oh_category1,oh_category2,...,oh_category5,oh_category6,oh_category7,oh_category8,oh_category9,oh_category10,oh_category11,oh_category12,oh_category13,oh_category14
41828,86.28,1,6,0,0,0,42.0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2370,2399.00,2,20,0,0,0,179.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34738,129.00,5,20,9,0,10,121.0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
31242,327.47,1,6,0,0,0,63.0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
8171,168.79,3,33,0,0,0,74.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

skalowanie danych

In [11]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

df_train = pd.DataFrame(x_train)

df_test = pd.DataFrame(x_test)


df_train.describe()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
count,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,...,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04,4.111600e+04
mean,-1.760544e-17,1.531566e-17,3.909921e-17,3.728466e-17,1.892315e-17,4.555814e-17,8.848085e-17,-2.784468e-17,2.332991e-18,-1.360912e-17,...,2.860074e-17,1.307987e-17,-4.346276e-17,3.858076e-17,-5.184425e-18,2.088891e-17,1.989523e-17,-1.101690e-17,2.821191e-17,4.838797e-17
std,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,...,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00,1.000012e+00
min,-5.160861e-01,-1.033003e+00,-1.038452e+00,-4.017812e-01,-5.080008e-01,-7.358311e-01,-1.186694e+00,-3.875493e-01,-3.721637e-01,-3.613660e-01,...,-1.678006e-01,-1.184614e-01,-1.736847e-01,-1.766348e-01,-3.764291e-01,-1.224105e-01,-2.389612e-01,-2.053724e-01,-1.649443e-01,-1.203472e-01
25%,-4.846119e-01,-5.844463e-01,-7.828657e-01,-4.017812e-01,-5.080008e-01,-7.358311e-01,-9.723871e-01,-3.875493e-01,-3.721637e-01,-3.613660e-01,...,-1.678006e-01,-1.184614e-01,-1.736847e-01,-1.766348e-01,-3.764291e-01,-1.224105e-01,-2.389612e-01,-2.053724e-01,-1.649443e-01,-1.203472e-01
50%,-4.485886e-01,-1.358893e-01,-3.228100e-01,-4.017812e-01,-5.080008e-01,-7.358311e-01,-8.837268e-02,-3.875493e-01,-3.721637e-01,-3.613660e-01,...,-1.678006e-01,-1.184614e-01,-1.736847e-01,-1.766348e-01,-3.764291e-01,-1.224105e-01,-2.389612e-01,-2.053724e-01,-1.649443e-01,-1.203472e-01
75%,-1.111336e-01,7.612246e-01,4.950667e-01,-4.017812e-01,9.151076e-01,6.430683e-01,7.777828e-01,-3.875493e-01,-3.721637e-01,-3.613660e-01,...,-1.678006e-01,-1.184614e-01,-1.736847e-01,-1.766348e-01,-3.764291e-01,-1.224105e-01,-2.389612e-01,-2.053724e-01,-1.649443e-01,-1.203472e-01
max,4.431529e+00,6.592465e+00,5.606797e+00,8.878732e+00,8.030650e+00,2.021968e+00,6.296176e+00,2.580317e+00,2.686989e+00,2.767277e+00,...,5.959454e+00,8.441570e+00,5.757560e+00,5.661400e+00,2.656543e+00,8.169235e+00,4.184780e+00,4.869203e+00,6.062651e+00,8.309290e+00

jak widac dane dotyczące zachowania użytkownika są bardzo niezbalansowane, zdecydowana większość zachowań
to wyświetlenie a nie kupienie produktu

In [12]:
 
y_test.value_counts()

0    9950
1     330
dtype: int64

In [13]:
y_train.value_counts()

0    39855
1     1261
dtype: int64

Na początek spróbujemy użyc dummy classifier. Widać , że wynik jest bardzo dobry, ale wynika to z tego, że dane są niezbalansowane. Nasz model wybiera zawsze 0

In [85]:
from sklearn.dummy import DummyClassifier
from sklearn.metrics import accuracy_score


dummy = DummyClassifier().fit(x_train, y_train)
dummy_pred = dummy.predict(x_test)
print( accuracy_score(dummy_pred, y_test) )
print( np.unique( dummy_pred ) )

0.9705252918287938
[0]

Użyjmy zatem modelu svc, żeby wyeliminowac błąd związany z niezbalansowanym zbiorem danych.
Wyolbrzymia on błędy dla mniejszościowej danej proporcjonalnie do jej rozmiarów w stosunku do calosci

In [ ]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

svc_clf = SVC(kernel='linear', 
            class_weight='balanced',
            probability=True)
svc_clf.fit(x_train, np.ravel(y_train))

svc_pred = svc_clf.predict(x_test)

print( np.unique( svc_pred ) )
print( accuracy_score(y_test, svc_pred) )

następnie wyszukujemy najlepsze parametry dla naszego modelu

In [ ]:
from sklearn.model_selection import GridSearchCV

param_grid = {'C': [0.1,1, 10, 100], 'gamma': [1,0.1,0.01,0.001],'kernel': ['rbf', 'poly', 'sigmoid']}
grid = GridSearchCV(SVC(),param_grid,refit=True,verbose=2)
grid.fit(x_train,np.ravel(y_train))

Fitting 5 folds for each of 48 candidates, totalling 240 fits
[CV] END .........................C=0.1, gamma=1, kernel=rbf; total time= 2.0min

In [ ]:
print(grid.best_estimator_)

In [ ]:
dummy.score(x_test,y_test)

In [ ]:
regression.score(x_test,y_test)

In [ ]:
y_train